{% extends 'base.html' %}
{% block content %}

  {% for msg in get_flashed_messages() %}
    <h3>{{ msg }}</h3>
  {% endfor %}

  <h1>{{ question }}</h1>

  <form action="/answer/{{id}}" method="POST">

      <!-- you should have one item like this for every choice -->
      {% for choice in choices %}
      <p>
        <input
            type="radio"
            name="answer"
            value="{{choice}}">
        {{ choice }}
      </p>
      {% endfor %}

    <button>Continue</button>
  </form>

{% endblock %}
